{
   "presets": [
      "@babel/preset-modules",
      "@babel/preset-react"
   ],
   "plugins": [
      "@loadable/babel-plugin",
      "css-modules-transform",
      "babel-plugin-styled-components"
   ],
   "ignore": [
      "build"
   ]
}